<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1><%= @form.title %></h1>
			<ol>
				<% @form.questions.each do |question| %>
					<li><%= question.body %></li>
				<% end %>
			</ol>
			<% if @form.user != current_user %>

				<%= form_tag questions_answers_path do %>
					<% @form.questions.each do |question| %>
						<%= hidden_field_tag 'id', @form.id %>
						<%= text_field_tag question.id , nil, class: "form-control", placeholder: "Answer the question" %>
					<% end %>

					<div class="form-group">
						<%= submit_tag nil, class: "btn btn-primary", value: "Send Answer" %>
					</div>
				<% end %>
			<% else %>
				<% @form.questions.each do |question|  %>
					<ul>
						<% question.answers.each do |answer| %>
							<li> <%= answer.body %> </li>
						<% end %>
					</ul>
				<% end %>
			<% end %>


		</div>
	</div>
</div>

