<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<h3 class="green"><%= @form.title %></h3>

			<% if @form.user != current_user %>

				<%= form_tag questions_answers_path do %>
					<% @form.questions.each do |question| %>
						<br>
						<br>
						<%= hidden_field_tag 'id', @form.id %>
						<%= label_tag question.id, question.body %>
						<br>
						<%= text_field_tag question.id , nil, class: "form-control", placeholder: "Answer the question" %>
					<% end %>
					<br>
					<br>
					<div class="form-group">
						<%= submit_tag nil, class: "btn btn-default", value: "Send Answer" %>
					</div>
				<% end %>
			<% else %>

				<% @form.questions.each do |question|  %>
					<h5 class="green">Answers for <%= question.body %></h5>
					<ul>
						<% question.answers.each do |answer| %>
							<li> <%= answer.body %> </li>
						<% end %>
					</ul>
					<br>
					<br>
				<% end %>
				<footer class="site-footer green-bg">
				  <p class="black">Share your form's url (<span class="share-url"></span>)</p>
				</footer>

			<% end %>


		</div>
	</div>
	<%= render "ads" %>

</div>

<script type="text/javascript">
	$(".share-url").append(window.location.href);
</script>