<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Formularia | Free forms</title>
  <meta name="description" content="An open source, free and easy to use Form manager." />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/nav_bar" unless current_page?(new_user_session_path)%>

  <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>


  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://use.fontawesome.com/a63b663ce3.js"></script>

</body>
</html>
