<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formularia | Free forms</title>
	<meta name="description" content="An open source, free and easy to use Form manager." />
	<style type="text/css">
		body{
			overflow:hidden;
			max-width:<%= @a1_i %>px;
			max-height:<%= @h1_i %>px;
			width: <%= @a1_i %>px;
			height: <%= @h1_i %>px;
			margin:0;
			padding:0;
			text-align:center;
			background-color:transparent;
		}
	</style>
</head>
<body>
	<%= yield %>
</body>
</html>